# Pre-commit hooks.
# python -m pip install pre-commit
# pre-commit install
# pre-commit run --all-files

repos:

  # Format Python
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  # Sort imports
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        additional_dependencies: ["toml"]

  # Lint Python
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
